In [3]:
myname = "kartik"
print(myname)

kartik

In [4]:
# add two numbers,using functions.

num1= 10
num2= 20

total = num1+num2
print(total)

30

In [8]:
# add two numbers,using functions.

def add_numbers(num1, num2):
    return num1 + num2

result = add_numbers(3, 5)
print(result)

8

In [9]:
# print my name using function

def myname(name):
  return name

result = myname("Shiva")
print("my name is", result)

my name is Shiva

In [14]:
def myname():
    return "kartik"

name = myname()
print(name)

kartik

In [13]:
def is_even(number):
  if number %2 == 0:
    return True
  else:
    return False

print(is_even(9))

False